/* ESTILOS GENERALES */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2000px;
  font-family: "Nunito", sans-serif;
}

header {
  width: 100%;
  background-image: linear-gradient(to right, black, rgb(34, 134, 165), rgb(34, 134, 165), rgb(34, 134, 165), black);
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 10;
}
header .navbar .container-fluid {
  width: auto;
  justify-content: center;
}
header .navbar .container-fluid .navbar-brand {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 20px;
}
header .navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 20px;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 20px;
}
header .navbar .search {
  padding: 20px;
}
header .navbar .search .btn {
  background-color: white;
}
header .navbar .search .btn:hover {
  background-color: rgb(34, 134, 165);
  border: 1px solid white;
}

main {
  min-height: 100vh;
  width: auto;
  background-color: white;
}
main h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
main h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
main h5 {
  font-weight: bold;
}
main .fa-linkedin {
  font-size: 70px;
  color: rgb(34, 134, 165);
  display: flex;
  position: fixed;
  bottom: 180px;
  right: 25px;
}
main a i:hover {
  transform: scale(1.2, 1.2);
}
main .fa-square-whatsapp {
  font-size: 70px;
  color: rgb(34, 134, 165);
  display: flex;
  position: fixed;
  bottom: 100px;
  right: 25px;
}

footer {
  height: auto;
  background-image: linear-gradient(to right, black, rgb(34, 134, 165), rgb(34, 134, 165), rgb(34, 134, 165), black);
  font-size: 20px;
  text-align: center;
  display: flex;
  color: white;
  position: sticky;
  bottom: 0px;
  z-index: 3;
}
footer p {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ESTILOS PAGES */
main .banner {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 80vw;
}
main .cardsIndex {
  width: 100%;
  margin-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
main .cardsIndex .cardIndex {
  border: 0px;
  margin: 20px;
  background: white;
}
main .cardsIndex .cardIndex .card-body {
  z-index: 3;
}
main .cardsIndex .cardIndex .card-img-top {
  z-index: 3;
}
main .cardsIndex .cardIndex::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(34, 134, 165) -180%, white 180%);
  transform: translate3d(0px, 0px, 0) scale(1.02);
  filter: blur(10px);
  opacity: var(1);
  transition: opacity 0.3s;
  border-radius: inherit;
}
main .cardsIndex .cardIndex::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
main .cardsIndex .cardIndex:hover {
  transform: scale(1.02, 1.02);
}

main .accordion {
  width: 60vw;
  margin-bottom: 10px;
}
main .accordion .accordion-item .accordion-header {
  z-index: 1;
  font-weight: bold;
}
main .accordion .accordion-item .accordion-header .accordion-button:enabled {
  background-color: white;
}
main .accordion .accordion-item .accordion-header .accordion-button:focus {
  outline: none;
  box-shadow: none;
}

main .cardsProyectos {
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0 15vw;
}
main .cardsProyectos .cardProyectos {
  width: 30vw;
  height: auto;
  text-align: center;
}
main .cardsProyectos .cardProyectos .card-img-top {
  z-index: 3;
}
main .cardsProyectos .cardProyectos .card-body {
  z-index: 3;
  display: flex;
  position: static;
  flex-direction: column;
}
main .cardsProyectos .cardProyectos::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, rgb(34, 134, 165) -180%, white 180%);
  transform: translate3d(0px, 0px, 0) scale(1.02);
  filter: blur(10px);
  opacity: var(1);
  transition: opacity 0.3s;
  border-radius: inherit;
}
main .cardsProyectos .cardProyectos::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
main .cardsProyectos .cardProyectos:hover {
  transform: scale(1.02, 1.02);
}
main .cardsProyectos .carousel {
  z-index: 10;
}

main .cardsSobremi {
  width: 80vw;
  border: 0;
}
main .cardsSobremi .cardSobremi {
  width: auto;
}

main .rowForm {
  width: 40vw;
  margin: 0 auto;
}
main .rowForm .btnForm {
  background-color: rgb(34, 134, 165);
}

/*# sourceMappingURL=style.css.map */
