@import "variables";

footer {
    height: auto;
    background-image: $degradado;
    font-size: 20px;
    text-align: center;
    display: flex;
    color: $color3;
    position: sticky;
    bottom: 0px;
    z-index: 3;

    p {
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}