@import "variables";

header {
    width: 100%;
    background-image: $degradado;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 10;
    .navbar {
        .container-fluid {
            width: auto;
            justify-content: center;
            .navbar-brand {
                color: $color3;
                font-size: 40px;
                margin: 0;
                padding: 20px;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    padding: 20px;
                    .nav-link {
                        color: $color3;
                        font-size: 20px;
                    }
                }
            }
        }
        .search {
            padding: 20px;
            .btn {
                background-color: $color3;
            }
            .btn:hover {
                background-color: $color1;
                border: 1px solid $color3;
            }
        }    
    }
}