@import "variables";

main {
    .cardsProyectos {
        width: 100%;
        margin: 0 0 50px 0;
        padding: 0 15vw;
        .cardProyectos {
            width: 30vw;
            height: auto;
            text-align: center;
            .card-img-top {
                z-index: 3;
            }
            .card-body {
                z-index: 3;
                display: flex;
                position: static;
                flex-direction: column;
            }
        }
        .cardProyectos::before {
            content: "";
            z-index: 1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(45deg, $color1 -180%, $color3 180% );
            transform: translate3d(0px, 0px, 0) scale(1.02);
            filter: blur(10px);
            opacity: var(1);
            transition: opacity 0.3s;
            border-radius: inherit;
        }
        .cardProyectos::after {
            content: "";
            z-index: 1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            border-radius: inherit;
        }
        .cardProyectos:hover {
            transform: scale(1.02, 1.02);
        }
        .carousel {
            z-index: 10;
        }
    }
}